<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>

<main>
    <div class="container">
        <h4>About Us</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur consequuntur dolores error
            est fugit illo illum iure libero, necessitatibus, nihil possimus recusandae repudiandae sapiente.
        </p>
        <p>
            Our platform connects volunteers with meaningful opportunities to help those in need. Join us in
            spreading kindness and making a difference!
        </p>
    </div>
</main>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
