<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>

<header th:replace="~{fragments/header}"></header>

<div class="container mt-5">
    <h2 class="text-center">Add a New Cause</h2>

    <form th:action="@{/add-cause}"
          th:method="POST"
          th:object="${causeData}"
          enctype="multipart/form-data"
          class="w-50 mx-auto p-4 border rounded bg-light shadow">



        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" th:field="*{name}"
                   class="form-control" required minlength="5">
        </div>


        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}"
                      class="form-control" required minlength="10"></textarea>
        </div>


        <div class="form-group">
            <label for="level">Level:</label>
            <select id="level" th:field="*{level}" class="custom-select">
                <option value="">Select Level</option> <!-- Default Option -->
                <option th:each="lvl : ${levels}" th:value="${lvl}" th:text="${lvl}"></option>
            </select>
        </div>


        <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image"  class="form-control-file">
            <small class="text-danger" ></small>
        </div>


        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="confirmCancel()">Cancel</button>

            <script>
                function confirmCancel() {
                    if (confirm("Are you sure you want to cancel?")) {
                        window.location.href = "/";
                    }
                }
            </script>
            <button type="submit" class="btn btn-primary">Add Cause</button>
        </div>

    </form>
</div>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
