<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="container mt-5">
    <h2 class="text-center">Manage Users</h2>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.fullName}">Full Name</td>
            <td th:text="${user.roles}">Role</td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary btn-sm">Edit Role</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
