<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header}"></header>
    <main>
        <section class="cause-info-center">
            <!--/*@thymesVar id="cause" type=""*/-->
            <!--/*@thymesVar id="name" type=""*/-->
            <h1 id="cause-name"></h1>
            <p >Full causes description</p>
            <p><strong>Location:</strong> <span >Location</span></p>
            <p><strong>Date:</strong> <span >Event Date</span></p>
            <a href="/apply" class="btn">Apply Now</a>
        </section>
    </main>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>
