<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/header}"></header>
    <main>
        <section>
            <h1 th:text="${cause.title}">Cause Title</h1>
            <p th:text="${cause.description}">Cause Description</p>
            <img th:src="${cause.imageUrl}" alt="Cause Image"/>
            <p><strong>Created on:</strong> <span th:text="${#temporals.format(cause.created, 'dd MMM yyyy HH:mm')}"></span></p>
            <a href="/causes" class="btn btn-secondary">Back to Causes</a>
        </section>
    </main>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>
