
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header"></header>
    <main>
        <section class="causes">
            <h1>Volunteer Causes</h1>
            <div class="causes-list" th:each="cause : ${causes}">
                <div class="causes-card">
                    <h2 th:text="${causes.title}">Causes Title</h2>
                    <p th:text="${causes.description}">Cause Description</p>
                    <a th:href="@{/causes/{id}(id=${causes.id})}" class="btn">Learn More</a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>
