<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="container mt-5">
  <h2>Edit User Role</h2>


  <form th:action="@{/users/edit/{id}(id=${user.id})}" method="post">
    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" name="role" class="form-control">
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Update Role</button>
  </form>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
