<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body >

<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- Top Container -->
    <section class="top-container">
        <div class="showcase">
            <h1>Welcome to Our Volunteer Platform!</h1>
            <p>We connect volunteers with causes that make a difference.</p>
            <a th:href="@{/users/register}" class="btn">Join Us</a>
        </div>
        <div class="top-box top-box-a">
            <h4>Weather in Sofia</h4>
            <h4><span th:text="${sofiaTemperature}">15</span><span>&#8451;</span></h4>
            <img id="box-a-img" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-2048x2048-wityey4r.png"
                 height="150px" alt="">
        </div>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
        <a th:href="@{/causes/health}" class="box">
            <img src="/images/education.jpg" alt="Education">
            <h3>Health</h3>
            <p>Support health-related projects.</p>
        </a>
        <a th:href="@{/causes/environment}" class="box">
            <img src="/images/environment.jpg" alt="Environment">
            <h3>Environment</h3>
            <p>Help preserve the environment.</p>
        </a>
        <a th:href="@{/causes/community}" class="box">
            <img src="/images/community.jpg" alt="Community">
            <h3>Community</h3>
            <p>Support local initiatives.</p>
        </a>
    </section>

    <!-- Info Section -->
    <section class="cause">
        <div>
            <h2>Our Mission</h2>
            <p>Our mission is to connect volunteers with causes that make a difference.</p>
        </div>
    </section>
</div>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>
